idf_component.yml
managed_components/
build/
sdkconfig.old
sdkconfig.dependencies
dependencies.lock
.vscode/
.clangd
.cache/
*.o
*.bin
*.elf
*.map
*.log
bootloader/
partition_table/
export.ps1
export.bat
